@import url('https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css');
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "TTNorms";
    src: url("../src/style/fonts/TTNorms-Regular.otf") format('opentype'),
        url("../src/style/fonts/TTNorms-Bold.otf") format('opentype');
}

